{% extends 'base.html' %}

    {% block head %}
    <title>Detalle de contacto</title>
    {% endblock %}

    {% block body %}
    <br/>
    <h1>Detalle de contacto</h1>
    <button class ="btn btn-lg mb-3"><a class="nav-link" href="{% url 'contacts:formContact' contact.id %}">Editar {{ contact.nameContact }}</a></button>
    <h3>El contacto es {{ contact.nameContact }}</h3>
    <ul>
        <li>Nombre: {{ contact.nameContact }}</li>
        <li>Correo Electronico: {{ contact.email }}</li>
        <li>Telefono: {{ contact.phone}}</li>
        <li>Mensaje: {{ contact.message }}</li>
    </ul>
    {% endblock %}
